#formLoginPass {
    font-style: oblique;
    font-size: 20px;
    font-weight: 800;
    color: #46aa80;
}

#fatalErorr {
    display: none;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    color: #F00;
}
