html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html>body #all {
    height: auto;
    min-height: 100%;
}

#all {
    height: 100%;
    position: relative;
    color: #404040;
    margin: 0 auto;
}

#empty, #footer {
    height: 32px;
}

#footer {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 970px;
    display: block;
}

#main {
    padding-top: 20px;
}

#content {
    padding-left: 40px;
    width: 932px;
    border: 1px #376FA7 solid;
}

#SearchText {
    margin-top: 30px;
    height: 24px;
    width: 600px
}

#SearchSubmit {
    margin-top: 300;
    width: 100px;
    height: 32px;
}

#searcher {
    padding-left: 240px;
    height: 100px;
    position: relative;
}

#left {
    float: left;
    position: absolute;
    width: 200px;
}

#right {
    margin-left: 230px;
}

#logo {
    float: left;
    width: 200px;
    height: 100px;
}