body {
    font-family: Times New Roman, sans-serif;
}

#footer {
    font-style: oblique;
    font-size: 20px;
    font-weight: 800;
    color: #AAA;
}

#header {
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

#logo {
    background-color: #ddd;
    border-bottom: 1px solid #888;
}

input[type=submit]:hover {
    color: #00f;
}

input[type=text] {
    color: #444;
}

#SearchText {
    font-size: 20px
}

#SearchSubmit {
    font-size: 20px;
}

#right {
    font-style: oblique;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
}

#right a {
    font-style: bold;
    font-size: 24px;
    font-weight: 800;
    color: #2222ff;
}


